<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mattchowning.wodnotifier" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Views.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.SettingsActivity"
            android:label="@string/settings_title" />

        <service
            android:name=".UpdateService"
            android:enabled="true">
        </service>

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="false"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".UpdateSchedulerReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter
               android:priority="1000">
                <action android:name="com.mattchowning.wodnotifier.UPDATE_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".SendNotificationReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.mattchowning.wodnotifier.UPDATE_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

</manifest>
